</!DOCTYPE html>
<html>
<head>
  <title>管理系统</title>
</head>
<body>
  <div id="app-7">
    <child-com>{{ a }}
    </child-com>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script type="text/javascript">
    Vue.component('child-com', {
      template: '<div v-show="someChildProperty">Child</div>',
      data: function () {
          return {
            someChildProperty: true
          }
        }
    })

    let a = new Vue({
      el: 'child-com',
      data: {
        a: function (){
          let res = 1 + 2;
          return res;
        }
      }
    })

  </script>
</body>
</html>